node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

vue_guanliyuan/dist/

logs/
*.log
*.log.*
springboot/logs/
springboot/core-api/logs/

.env
.env.*

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

springboot/**/target/
springboot/**/build/

springboot/files/
